---
title: Front-end
layout: default
pagination:
    enabled: true
    category: Front-end
    per_page: 2
---
<h1> Front-end Category </h1>
<div id="search-results">
<hr id="first-hr" class="with-no-margin"/>
{% for post in site.categories.Front-end %}
<div class="article-wrapper">
    <article>
        {% include article-header.html page=post link=true share=false eye_catch=false %}
    </article>
</div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
            <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                <em>{{ page }}</em>

            {% elsif page == 1 %} 
                <a href="{{ '/Front-end/index.html' | prepend: site.baseurl }}">{{ page }}</a>
            {% else %}
                <a href="{{ site.paginate_path | prepend: '/Front-end/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>     
                <!-- 페이지 번호를 나타내기 위한 코드. -->
            {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
            <span>Next &raquo;</span>
        {% endif %}
    </div>
{% endif %}